VITE_OPENAI_API_KEY=sk-your-openai-api-key-here
VITE_MBA_BASE_URL=https://api01-d01-rsf004br.rsf-node001.com/mba/api/
VITE_MBA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyIiwiZXhwIjoxNzk0NDUxNDc4LCJpYXQiOjE3NjI5MTU0NzgsImp0aSI6ImYzYjdlOTZlLWQxOGItNDZmZS1iYmIyLTVhNzk0ODZkNjgzNiIsInJvbGUiOiIifQ.qJdK7TMfHkJ5g_DlLaD8FVOr5lcIRAPKk0s5t0NTfgs